{% extends 'base/layout.html' %}
{% load static %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<div class="bg-primary text-white py-5">
    <div class="container text-center">
        <h1 class="fw-bold display-5">Hệ Thống Đặt Lịch Khám Bệnh Online</h1>
        <p class="lead mt-3">
            Đặt lịch nhanh chóng – Không chờ đợi – Đội ngũ bác sĩ hàng đầu
        </p>

        <a href="#" onclick="handleBookingRedirect()" class="btn btn-light btn-lg mt-3 px-4">
            Đặt lịch ngay
        </a>
    </div>
</div>

<div class="container mt-5">
    <div id="homeCarousel" class="carousel slide carousel-fade shadow rounded-4 overflow-hidden"
        data-bs-ride="carousel">

        <div class="carousel-inner" id="carouselInner">
            <!-- JS load -->
        </div>

    </div>
</div>

<div class="container py-5">

    <div class="text-center mb-5">
        <h2 class="fw-bold">Chuyên khoa</h2>
        <p class="text-muted">Các dịch vụ khám chữa bệnh nổi bật</p>
    </div>

    <div class="row text-center">

        <div class="col-md-4 mb-4">
            <i class="fa fa-tooth fa-2x text-primary mb-3"></i>
            <h5>Nha khoa</h5>
            <p class="text-muted">Khám và điều trị răng miệng</p>
        </div>

        <div class="col-md-4 mb-4">
            <i class="fa fa-heartbeat fa-2x text-danger mb-3"></i>
            <h5>Tim mạch</h5>
            <p class="text-muted">Chẩn đoán và điều trị tim mạch</p>
        </div>

        <div class="col-md-4 mb-4">
            <i class="fa fa-stethoscope fa-2x text-success mb-3"></i>
            <h5>Tổng quát</h5>
            <p class="text-muted">Khám sức khỏe định kỳ</p>
        </div>

    </div>

</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/base/index.js' %}"></script>
{% endblock %}