{% extends 'base/templates/layout.html'  %}

{% block title %}Đặt lịch khám{% endblock %}

{% block content %}
<div class="container my-5">
<!--    {% if current_user.is_authenticated and current_user.user_role.value == 4 %}-->
<!--    <h2 class="text-center text-primary fw-bold mb-5">Đặt lịch khám (Quản trị)</h2>-->
<!--    {% else %}-->
    <h2 class="text-center text-primary fw-bold mb-5">Đặt lịch khám</h2>
<!--    {% endif %}-->

    <div id="alert-appointment" class="alert alert-danger text-center mb-4 d-none"></div>

    <div class="card shadow border-0 rounded-4 mb-4" data-step="1">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold mb-3">Chọn hồ sơ bệnh nhân</h5>
<!--                <a href="/patients/new" class="btn btn-primary shadow mb-3">Tạo hồ sơ mới</a>-->
            </div>
            <select id="select-patient" class="form-select" name="patient_id">
                <option id="selected-patient" selected disabled>-- Chọn hồ sơ --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="1">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn dịch vụ</h5>
            <select id="select-service" class="form-select">
                <option id="selected-service" selected disabled>-- Chọn dịch vụ --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="4">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn ngày khám</h5>
            <select class="form-select" name="check_date" id="select-date"
                    onchange="loadDoctor(this); hiddenTime(); reloadDoctor()">
                <option id="selected-date" selected disabled>-- Chọn ngày --</option>
            </select>
        </div>
    </div>

    <div class="card shadow border-0 rounded-4 mb-4" data-step="3">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn bác sĩ</h5>
            <select class="form-select" name="doctor_id" id="doctor-select" onchange="showTime(); loadTime(this)">
                <option id="selected-doctor" selected disabled>-- Vui lòng chọn ngày trước --</option>
            </select>
        </div>
    </div>


    <div class="card shadow border-0 rounded-4 mb-4" data-step="5">
        <div class="card-body">
            <h5 class="fw-bold mb-3">Chọn giờ khám</h5>
            <p id="text-info-time" class="fw-semibold mb-2 text-secondary">-- Vui lòng chọn bác sĩ --</p>
            <div id="list-time" class="d-none">
                <p class="fw-semibold mb-2 text-secondary">Buổi sáng</p>
                <div class="d-flex justify-content-between flex-wrap gap-2">
                    <button id="07-00" type="button" class="time-btn btn btn-outline-primary">07:00</button>
                    <button id="07-30" type="button" class="time-btn btn btn-outline-primary">07:30</button>
                    <button id="08-00" type="button" class="time-btn btn btn-outline-primary">08:00</button>
                    <button id="08-30" type="button" class="time-btn btn btn-outline-primary">08:30</button>
                    <button id="09-00" type="button" class="time-btn btn btn-outline-primary">09:00</button>
                    <button id="09-30" type="button" class="time-btn btn btn-outline-primary">09:30</button>
                    <button id="10-00" type="button" class="time-btn btn btn-outline-primary">10:00</button>
                    <button id="10-30" type="button" class="time-btn btn btn-outline-primary">10:30</button>
                    <button id="11-00" type="button" class="time-btn btn btn-outline-primary">11:00</button>
                    <button id="11-30" type="button" class="time-btn btn btn-outline-primary">11:30</button>
                </div>


                <p class="fw-semibold mb-2 text-secondary mt-3">Buổi chiều</p>
                <div class="d-flex justify-content-between flex-wrap gap-2">
                    <button id="13-00" type="button" class="time-btn btn btn-outline-primary">13:00</button>
                    <button id="13-30" type="button" class="time-btn btn btn-outline-primary">13:30</button>
                    <button id="14-00" type="button" class="time-btn btn btn-outline-primary">14:00</button>
                    <button id="14-30" type="button" class="time-btn btn btn-outline-primary">14:30</button>
                    <button id="15-00" type="button" class="time-btn btn btn-outline-primary">15:00</button>
                    <button id="15-30" type="button" class="time-btn btn btn-outline-primary">15:30</button>
                    <button id="16-00" type="button" class="time-btn btn btn-outline-primary">16:00</button>
                    <button id="16-30" type="button" class="time-btn btn btn-outline-primary">16:30</button>
                    <button id="17-00" type="button" class="time-btn btn btn-outline-primary">17:00</button>
                    <button id="17-30" type="button" class="time-btn btn btn-outline-primary">17:30</button>
                </div>
            </div>
        </div>
    </div>


    <div class="d-flex justify-content-center gap-3 mt-5">
        <button class="btn btn-success btn-lg px-5" onclick="handleAppointment(btnClick)">
            Xác nhận đặt lịch
        </button>

        <a href="/" class="btn btn-danger btn-lg px-5 d-flex align-items-center">Huỷ</a>
    </div>

</div>
<style>
    .time-btn {
        width: 100px;
        height: 45px;
        padding: 0;
        text-align: center;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        loadDate(7);
    })
</script>
{% endblock %}